
$tablet: 40em;
$desktop: 60em;

@mixin breakpoint($resolution){
	@media (min-width:$resolution) { @content ; }	

}
.main {
	@include breakpoint($tablet) { width: 70%; } 	
	@include breakpoint($desktop) { width: 80%; } 	
}
.header {

	@include breakpoint($desktop) { width: 50%; } 	
}
.links {
	@include breakpoint($tablet) { width: 30%; } 	
	@include breakpoint($desktop) { width: 20%; } 	
}
.nav {

	@include breakpoint($desktop) { width: 50%; } 	
}
